@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Project Header Style */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;

  -webkit-box-shadow: 2px 4px 4px 2px rgba(217, 214, 217, 1);
  -moz-box-shadow: 2px 4px 4px 2px rgba(217, 214, 217, 1);
  box-shadow: 2px 4px 4px 2px rgba(217, 214, 217, 1);

  font-size: 1.5em;
  font-weight: bold;
}

header > .title {}

header > .divide {
  margin: 0px 5px;
}

header > .home-link {}

/* Main Page */
.container {
  width: 100%;
  background-color: darkgreen;
  color: white;
  display: flex;
  justify-content: center;
}

.paragraph {
  max-width: 800px;
  margin: 25px;
  padding: 40px;
}

/* Canvas */
canvas {
  margin: 25px;
}
