@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --color-grain: #D7CEC7;
  --color-sand: #eee8d9;
  --color-blackboard: #565656;
  --color-oxblood: #76323F;
  --color-tan: #C09F80;
}

html,
body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  background-color: #fff1ed;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  color: var(--color-blackboard);
}

/* Header Style */
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;

  width: 100%;
  height: 10%;
  padding: 40px;

  font-size: 2em;
  background-color: var(--color-blackboard);
}

.header-title {
  color: var(--color-sand);
  margin: 0px 20px;
}

.header-link,
.header-link:visited {
  color: var(--color-tan) !important;
  margin-left: 20px;
}

div.header-link:hover {
  color: var(--color-oxblood);
}

/* Global Style Classes */
.shadow {
  -webkit-box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.5);
}

.link {
  color: var(--color-oxblood);
  cursor: pointer;
}

.link:hover {
  font-weight: 900;
}

/* Main Page */
#main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  width: 90%;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 0px;
}

#intro {
  margin-right: 10px;
}

#intro-resource {
  margin-left: 10px;
}

.project-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#project {
  margin-bottom: 25px;
}

@media screen and (max-width: 1300px) {
  .project-container {
    flex-direction: column;
  }

  #project-list {
    padding: 0px;
  }
}

.paragraph {
  padding: 30px;
  background-color: var(--color-sand);
  color: var(--color-blackboard);
}


/* Canvas */
canvas {
  margin: 25px;
}

/* Project List */
#project-list {
  list-style-type: none;
  margin: 72px 0;
}

#project-list .project-list-item:first-child {
  margin-top: 0;
}

.project-list-item {
  background: var(--color-tan);
  color: var(--color-sand);
  margin: 15px 0;
  padding: 15px 40px;
}

.project-list-item:nth-child(2n) div.link {
  color: var(--color-tan);
}

.project-list-item:nth-child(2n) {
  color: var(--color-sand);
  background-color: var(--color-oxblood);
}

.project-title,
.project-title:visited {
  font-size: 1.5em;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.project-desc {
  margin: 10px 0px;
  /* color: var(--color-sand); */
}

.project-resources {
  font-size: 0.75em;
}

canvas {
  margin: 0px;
}

/* Chaos Game */
.chaos.control-container {
  color: black;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.chaos.control-container h3 {
  width: 100%;
  margin: 4px;
}

.chaos.control-container .slider-container {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.chaos.control-container .slider-container span {
  padding: 5px;
}

.chaos.control-container .slider-container span.label {
  width: 33%;
}

.chaos.control-container .slider-container input {
  width: 33%;
}
